.navbar {
	display: grid;
	grid-template-rows: 60px 1fr;
}


.header {
	padding: 5px 0 0 20px;
	text-transform: uppercase;
	font-size: 30px;
}

.item{
	border-right: 1px solid black;
	padding: 0px 0 0 50px;
}
