.item{
	/* background: url('01.svg') 0 50%/8px 8px no-repeat; */
	display: flex;
	align-items: center;
	justify-content: end;
	/* border: 1px solid black; */
}
.text{
	padding: 25px;
}
.img{
	width: 40px;
	height: 40px;;
	border-radius: 50px;	
}