.sidebar {
	grid-area: sidebar;
	background-color: #000;
	padding: 15px 0 0 15px;
	line-height: 30px;
}

.nav{
	margin: 0 0 15px 0;
}
.nav :nth-child(4){
	margin: 0 0 35px 0;
} 
.nav :nth-child(5){
	margin: 0 0 100px 0;
} 
.nav :nth-child(6){
	font-size: 35px;	
} 

.friends{
	height: 140px;
	overflow: scroll;
	/* border: 1px solid white; */
	display: grid;
	grid-template-columns: 55px 55px 55px;
}

.link {
	display: block;	
	color: #fff;
	font-size: 25px;
}
.active{
	color: rgb(236, 110, 110);
	display: block;	
	font-size: 25px;
}