/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.App {
	max-width: 880px;
	margin: 0 auto;
	display: grid;
	grid-template-columns:1fr;
	grid-template-rows: 70px 1fr;
	row-gap: 15px;
}
.header {
	background-color: #000;
}

.header img {
	width: 10%;
	height: 100%;
}
.header-logo {
}
.content {
	display: grid;
	grid-template-columns: 200px 1fr;
	column-gap: 15px;
}
.content-sidebar {
	background-color: #000;
}
.content-sidebar-item {
	padding: 15px 0 0 15px;
	line-height: 25px;
}

.content-sidebar-item li:last-child {
	margin: 25px 0 0 0;
}

.content-sidebar-item__link {
	color: #fff;
	font-size: 25px;
}
.content-page {
	display: grid;
	grid-template-rows: 200px auto 350px;
	row-gap: 15px;


}
.content-page__img {
}
.content-page__img img{
	width: 100%;
	height: 100%;
}
.content-page-info {
	display: grid;
	grid-template-columns: 155px 1fr;
	column-gap: 15px;


}
.content-page-info img{
	width: 100%;
	height: 100%;
}
.content-page-info-text {
	line-height: 17px;
}
.content-page-info-text__name {
	font-size: 25px;
	margin: 0 0 25px 0;
}
.content-page-info-text__birth {}
.content-page-info-text__city {}
.content-page-info-text__education {}
.content-page-info-text__website a{
	color: #000;
}
.content-page-feed {
	max-width: 600px;
}
.content-page-feed__header {
	font-size: 25px;
	margin: 0 0 15px 0;
}
.content-page-feed__textarea {
	margin: 0 0 10px 0;

}
.input {
	background-color: rgb(215, 208, 208);
	width: 100%;
	height: 50px;
	padding: 10px 0 0 10px;
	font-size: 15px;
}
.content-page-feed__button {
	text-align: right;
	margin: 0 0 25px 0;

}
.content-page-feed__btn {
	width: 90px;
	height: 30px;
	background-color: black;
	color: white;
	font-size: 15px;
}
.btn {}
.content-page-feed__footer {
	/* border: 1px solid black; */
	padding: 15px;
	background: url('img/page/03.svg') 0 50%/30px 30px no-repeat;
}
.content-page-feed__footer p{
	padding: 0 0 0 35px;
}
