/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.App {
	max-width: 880px;
	margin: 0 auto;
	display: grid;
	grid-template-columns:1fr;
	grid-template-rows: 70px 1fr;
}
.header {
	background-color: #000;
}

.header img {
	width: 10%;
	height: 100%;
}
.header-logo {
}
.content {
	display: grid;
	grid-template-columns: 150px 1fr;
}
.content-sidebar {
	background-color: #000;
}
.content-sidebar-item {

}
.content-sidebar-item__link {
	color: #fff;
}
.content-page {
	display: grid;
	grid-template-rows: 250px 150px 350px;
}
.content-page__img {
}
.content-page__img img{
	width: 100%;
	height: 100%;
}
.content-page-info {
	display: grid;
	grid-template-columns: 100px 1fr;
}
.content-page-info__avatar img{
	width: 100%;
	height: 65%;
}
.content-page-info-text {}
.content-page-info-text__name {}
.content-page-info-text__birth {}
.content-page-info-text__city {}
.content-page-info-text__education {}
.content-page-info-text__website {}
.content-page-feed {}
.content-page-feed__header {}
.content-page-feed__textarea {}
.input {}
.content-page-feed__button {}
.content-page-feed__btn {}
.btn {}
.content-page-feed__footer {}